*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #00AAFF, #00FF6C);
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  
}

.container {
  width: 400px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.container .button:hover {
  background-color: rgba(255, 255, 255, .9);
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.button {
  display: flex;
  border: solid 1px white;
  width: calc(25% - 5px);
  height: 50px;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 2px;
}

.span-two {
  width: calc(50% - 5px);
}

.screen {
  display: flex;
  justify-content: flex-end;
  padding: 1px;
  width: 100%;
  background-color: grey;
  height: 60px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px 20px 0 0;
  margin-bottom: 5px;
}

.previous_input {
  font-size: 20px;
}
.current_input {
  font-size: 25px;
}

.first_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.operator {
  width: calc(25% - 5px);
}

.header {
  display: flex;
  justify-content: center;
}

.header span {
  display: inline-block;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  transition: margin 0.6s ease;
}

.header span:hover  {
  margin-right: 10px;
  margin-left: 10px;
}

.header:hover span {
  color: #fff;
}